/* app css stylesheet */
.foo {
  cursor: pointer;
}
.list-div {
  color: black;
  border: 2px solid gainsboro;
  border-radius: 20px;
}

.form-div {
  border: 2px solid gainsboro;
  border-radius: 20px;
}
.color-div {
  background-color:pink !important;
  outline: 2px;
}

.pre-scrollable {
  max-height: 410px !important;
  overflow-y: scroll !important;
}