<div class="row form-div">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Assign task to  <span class="text-success"> ({{tempWorker.name}})</span></h3>
        </div>
        <form ng-submit="savetask()" name="myForm">
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="taskName"> Task Name: </label>
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="Enter a new task name" class="form-control" name="taskName" ng-model="tempWorker.taskAssigned" required/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="taskDuration"> Task Duration(In Seconds): </label>
                </div>
                <div class="col-md-10">
                    <input type="number" placeholder="Enter only numbers" class="form-control" name="taskDuration" ng-model="tempWorker.taskDuration" required/>
                </div>
            </div>
            <div class="form-group row">
                 <div class="col-md-2">
                    <input type="hidden" class="form-control" id="{{worker.id}}" name="id" required/>
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary" ng-disabled="(myForm.taskDuration.$invalid || myForm.taskName.$invalid)"> Assign Task</button>
                </div>
            </div>
        </form>
    </div>
</div>