<div class="">
    <div class="form-group">
       <span class="hidden-xs">Click on buttons to </span>
        <button ng-class="{'btn btn-success': !ctrl.progress, 'btn btn-default': ctrl.progress}" ng-click="ctrl.startTimer()" ng-disabled ="ctrl.progress"> Start Work </button>
        <span class="hidden-xs"> or </span>
        <button ng-class="{'btn btn-danger': ctrl.progress, 'btn btn-default': !ctrl.progress}" ng-click="ctrl.stopTimer(true)" ng-disabled ="!ctrl.progress"> Stop Work </button>
    </div>

    <div class="">
        <div class="container list-div pre-scrollable">
            <div class="row well foo rounded" 
                ng-repeat="worker in ctrl.workers track by $index" 
                ng-click="ctrl.toggleShowTask(worker.id)"
                ng-class="{'color-div':(hovering$index || (ctrl.id == worker.id))}"
                ng-mouseenter="hovering$index=true"
                ng-mouseleave="hovering$index=false">
                <div class="row">
                    <div class="col-md-3 col-sm-12 text-primary">
                        <strong>{{worker.name}}</strong>
                    </div>
                    <div class="col-md-4 hidden-xs">
                        {{worker.mobileNumber}}
                    </div>
                    <div class="col-md-2 hidden-xs" ng-class="{ 'text-primary': worker.taskDuration, 'text-success': !worker.taskDuration}">
                        <span ng-class="{ 'glyphicon glyphicon-refresh': worker.taskDuration, 'glyphicon glyphicon-ok': !worker.taskDuration}"></span>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <span ng-if= "worker.taskDuration">Remaining Duration : <strong> {{worker.taskDuration}}</strong> </span>
                        <span class="hidden-xs" ng-if= "!worker.taskDuration"><strong class="text-success"> Free!!</strong> </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-warning" ng-if="worker.taskDuration">
                            ({{worker.taskAssigned}})
                    </div>
                    <div class="col-md-9 text-success" ng-if="!(worker.taskDuration)">
                            <strong> (Available Now!) </strong>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div ng-if="ctrl.showTask">
                <assign-task temp-worker="ctrl.tempWorker" savetask="ctrl.savetask()"> </assign-task>
            </div>
        </div> 
    </div>
</div>